<div class='desktop'>
  <nav>
    {% for link in linklists['main-menu'].links %}
      <a href='{{link.url}}'>
        {{ link.title }}
      </a>
    {% endfor %}
  </nav>
  <div class='right'>
    <div class='search'>
      <span> search </span>
      <span>
        {% render 'icon-search' %}
      </span>
    </div>
    {% render 'currency-selector', id: 'header_desktop-currency' %}
    <cart-component
      currency='{{settings.default_currency}}'
      item-count='{{cart.item_count}}'
    >
      <button
        slot='cart-button'
        class='cart-button'
      >
        <span>Cart</span>
        {% capture count_class %}
          {% if cart.item_count == 0 %}
          empty
        {% endif %}
      {% endcapture %}
        <span
          class='count {{count_class}}'
        >
          {{ cart.item_count }}
        </span>
      </button>
    </cart-component>
  </div>
</div>
