<section class='featured_products'>
  {% if section.blocks.size == 0 %}
    <div class='featured_product'>
      {{ 'product-1' | placeholder_svg_tag }}
      <div class='featured_product-details'>
        <div>
          <h3>Product-1</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Qui commodi laborum ipsa hic
            fugit facilis veniam nostrum reiciendis eaque
            nemo?
          </p>
          <a href='#'> Shop Now </a>
        </div>
      </div>
    </div>
    <div class='featured_product'>
      {{ 'product-2' | placeholder_svg_tag: 'rtl' }}
      <div class='featured_product-details'>
        <div>
          <h3>Product-2</h3>
          <p>
            Aut repellendus delectus quidem quae corrupti,
            dolorum, doloremque laudantium nisi voluptatem
            ducimus voluptates dolores? Eaque dignissimos
            explicabo hic minus itaque culpa, beatae nihil
            facere quam! Eveniet, veritatis iusto vel
            perferendis perspiciatis error.
          </p>
          <a href='#'> Shop Now </a>
        </div>
      </div>
    </div>
  {% endif %}
  {% for block in section.blocks %}
    {% assign featured_product = block.settings.product %}
    <div class='featured_product'>
      <img
        src='{{featured_product.featured_image |img_url: 'master' }}'
        alt='{{featured_product.featured_image.alt}}'
        class='{{block.settings.direction}}'
      >
      <div class='featured_product-details'>
        <div>
          <h3>{{ featured_product.title }}</h3>
          <p>
            {{ featured_product.description }}
          </p>
          <a href='{{featured_product.url}}'> Shop Now </a>
        </div>
      </div>
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Featured Products",
  "max_blocks": 3,
  "blocks": [
    {
      "name": "products",
      "type": "products",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product to be featured"
        },
        {
          "type": "select",
          "options": [
            {
              "value": "rtl",
              "label": "right-to-left"
            },
            {
              "value": "ltr",
              "label": "left-to-right"
            }
          ],
          "default": "ltr",
          "label": "Direction of the product",
          "id": "direction"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
